*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
.sass-cache
node_modules
dist
.envrc
.env
.env.development

# Specifics

# Hide compiled CSS
11ty/_includes/assets/styles/*

# Hide compiled functions
functions/*.zip

# Local Netlify folder
.netlify

# Local cache
.cache
