{
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null
  },
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-recess-order"
  ]
}
