{
  "plugins": [
    "stylelint-prettier",
    "stylelint-order"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  },
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ]
}
