{% set pageTitle = title + ' - ' + site.name %}

{% if pageType == 'Homepage' %}
  {% set pageTitle = title %}
{% endif %}

{% set currentUrl = site.url + page.url %}

{% if desc %}
  {% set metaDesc = desc %}
{% else %}
  {% set metaDesc = site.description %}
{% endif %}

{% if author %}
  {% set authorName = author %}
{% else %}
  {% set authorName = site.author.name %}
{% endif %}

{% if mail %}
  {% set authorMail = mail %}
{% else %}
  {% set authorMail = site.author.mail %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}">
{% if authorMail %}
  <link rel="me" href="mailto:{{ authorMail }}">
{% endif %}
{% if authorName %}
  <meta name="author" content="{{ authorName }}">
{% endif %}
{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}">
{% endif %}
{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}">
{% endif %}
{% if site.webmention %}
  <link rel="webmention" href="https://webmention.io/{{ site.webmention }}/webmention">
  <link rel="pingback" href="https://webmention.io/webmention?forward={{ site.url }}">
{% endif %}
