<header class="c-intro">
  <div class="o-inner-wrapper">
    <h1
      class="c-intro__heading{{ ' c-intro__heading--compact' if page.url === '/' }} p-name">
      {{ introHeading }}
    </h1>
    {% if introSummary %}
      <div class="intro__summary">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
