<p class="c-post-meta">
  {% if metaAuthor %}
    <span class="c-post-meta__author p-author h-card">{{ metaAuthor }}</span>
  {% endif %}
  {% if metaDate %}
    <time datetime="{{ metaDate | dateIsoFilter }}"
          class="c-post-meta__date dt-published">{{ metaDate | dateOrdinalSuffixFilter }}</time>
  {% endif %}
  {% if tags %}
    <span class="p-author h-card">/ Filed under {{ tags | tagsToSentence | safe }}</span>
  {% endif %}
</p>
