<link rel="preload" href="/fonts/IBMPlexSerif-Regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/IBMPlexSerif-Bold.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/IBMPlexSerif-MediumItalic.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/IBMPlexSerif-Regular.woff" as="font" type="font/woff">
<link rel="preload" href="/fonts/IBMPlexSerif-Bold.woff" as="font" type="font/woff">
<link rel="preload" href="/fonts/IBMPlexSerif-MediumItalic.woff" as="font" type="font/woff">
