<ul class="c-small-print">
  <li class="c-small-print__item c-small-print__item--contact">
    <h4>Contact</h4>
    <a href="mailto:{{ site.author.mail }}" title="email" rel="me">{{ site.author.mail }}</a>
  </li>
  <li class="c-small-print__item c-small-print__item--social">
    <h4>Social</h4>
    <a href="{{ site.social.twitter }}" title="Twitter" rel="me">Twitter</a> /
    <a href="{{ site.social.github }}" title="GitHub" rel="me">GitHub</a>
  </li>
  {% if site.showThemeCredit %}
  <li class="c-small-print__item c-small-print__item--published-by">
    <h4>Published by Frontend Weekly Tokyo</h4>
    <p>{{ site.name }} is published by <a href="https://frontendweekly.tokyo/">Frontend Weekly Tokyo</a>.</p>
  </li>
  {% endif %}
</ul>
