.c-post-meta {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}

.c-post-meta__author::before {
  content: 'By';
  margin-right: var(--space-base-half);
}

.c-post-meta__author::after {
  content: 'On';
  margin-left: var(--space-base-half);
}
