.c-post-meta {
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

.c-post-meta__author::before {
  margin-right: var(--space-base-half);
  content: 'By';
}

.c-post-meta__author::after {
  margin-left: var(--space-base-half);
  content: 'On';
}
