.c-small-print {
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-small-print > * {
  flex: 1 1 14ch;
  margin: calc(var(--space-base) / 2);
}

.c-small-print__item--published-by {
  flex: 3 1 30ch;
}

.c-small-print__item h6,
.c-small-print__item p {
  margin-top: 0;
  margin-bottom: 0;
}
