body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
    --color-text: #f5f5f7;
    --color-bg: #464646;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  .c-post code:not([class]),
  .c-post kbd:not([class]),
  .c-post samp:not([class]) {
    background-color: var(--color-gray-500);
  }
}
