{% if postListItems.length %}
<section class="c-post-list h-feed">
  <div class="o-inner-wrapper">
    {% if postListHeading %}
    <h2 class="c-post-list__heading p-name">{{ postListHeading }}</h2>
    {% endif %}
    <ol class="c-post-list__items" reversed>
      {% for item in postListItems %}
        {% if item.date.getTime() <= global.now %}
          {% if item.data.author %}
            {% set metaAuthor = item.data.author %}
          {% else %}
            {% set metaAuthor = site.author.name %}
          {% endif %}
          {% set metaDate = item.date %}
          {% set tags = item.data.tags %}
          <li class="c-post-list__item">
            <article class="c-post-list">
              <a href="{{ item.url }}" class="c-post-list__link u-url" rel="bookmark">
                <span class="u-visually-hidden">{{ item.data.title }}</span>
              </a>
              <h3>{{ item.data.title }}</h3>
              {% include "partials/components/post-meta.njk" %}
              {% if item.data.desc %}
              <p class="c-post-list__summary p-summary">
                {{ item.data.desc }}
              </p>
              {% endif %}
            </article>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</section>
{% endif %}
