<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">
    <link rel="author" href="humans.txt">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/json" title="{{ site.name }}" href="{{ site.url }}/feed.json">
    {% include "partials/global/meta-info.njk" %}
    <script>document.documentElement.classList.remove('no-js');</script>
    {% if global.environment == "production" %}
      <style>{% include "assets/styles/main.css" %}</style>
    {% else %}
      <link rel="stylesheet" href="/css/main.css">
    {% endif %}
  </head>
</html>
<body>
{% include "partials/global/site-head.njk" %}
{% block content %}
{% endblock %}
{% include "partials/global/site-foot.njk" %}
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  }
</script>
</body>
