.o-wrapper {
  --space-char-per-line: 72;

  max-width: calc(var(--space-char-per-line) * 1ch);
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(var(--space-base) * 2);
}

.o-inner-wrapper {
  max-width: calc(var(--space-char-per-line) * 1ch);
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(var(--space-base) * 2);
}
