.o-wrapper {
  --space-char-per-line: 72;

  contain: layout;
  max-width: calc(var(--space-char-per-line) * 1ch);
  padding: 0 calc(var(--space-base) * 2);
  margin-right: auto;
  margin-left: auto;
}

.o-inner-wrapper {
  contain: layout;
  max-width: calc(var(--space-char-per-line) * 1ch);
  padding: 0 calc(var(--space-base) * 2);
  margin-right: auto;
  margin-left: auto;
}
