.o-blockquote {
  & blockquote {
    padding-right: 1em;
    padding-left: 1em;
    border-left: var(--space-base) solid var(--color-gray-800);
    margin-right: -1em;
    margin-left: -1em;
    font-style: italic;
  }

  & .o-blockquote__attribution {
    padding-right: 1em;
    padding-left: calc(1em + (var(--space-base)));
    margin-right: -1em;
    margin-left: -1em;
    text-align: left;
  }
}
