.o-code-block {
  position: relative;
  width: 100%;
  padding: 0 1em;
  margin-top: 1em;
  background: #282a36;
  border-radius: 4px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.28);
  color: #f8f8f2;
  -webkit-overflow-scrolling: touch;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}
