.u-overlay-child,
.u-overlay-before,
.u-overlay-after {
  position: relative;
}

.u-overlay-child > *,
.u-overlay-before::before,
.u-overlay-after::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
